<h3>Add Collaborations</h3>
<div class ="control-group">
  <%=f.label :name, "Name", :class => 'control-label'%>
  <div class="controls">
  	<%=f.text_field :name , :class => 'text_field', :placeholder =>'name'%>
  </div>
</div>
<div class ="control-group">
	<%=f.label :email, "Email", :class => 'control-label'%>
	<div class="controls">
		<%=f.text_field :email , :class => 'text_field', :placeholder =>'emial'%>
	</div>
</div>
